// design tokens

/*----------------------------
 colors
----------------------------*/
$green: hsl(157, 74%, 62%);
$black: hsl(224, 35%, 11%);
$white: hsl(0,0%, 100%);
$dark-gray: hsl(225, 26%, 23%);
$medium-gray: hsl(225, 21%, 45%);
$light-gray: hsl(225, 40%, 83%);

/*----------------------------
typography 
----------------------------*/
body {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}

button {
    border: none;
}



